<div>
  <div id="menu">
    <ul id="menu">
      <li><a routerLink="my-page" class="btn-menu">My page</a></li>
      <li><a routerLink="" class="btn-menu">News</a></li>
      <li>
        <ul id="login-form" keydown="enterFunc()">
          <a class="btn-menu" id="login-menu">Login</a> 
          <ul id="login-content">
            <li>Login:</li>
            <li>
              <input type="text" [(ngModel)]="name">
            </li>
            <li>Password:</li>
            <li>
              <input type="text" [(ngModel)]="password">
            </li>
            <li>
              <a routerLink="registration">Registration</a>
            </li>
          </ul>
        </ul>
      </li>
    </ul>
  </div>

  <router-outlet></router-outlet>
