
<div class="post">
  <div class="content">
    <div class="text">
      <p>Siamese Dream — второй студийный альбом американской рок-группы The Smashing Pumpkins, был издан 27 июля 1993 года на лейбле Virgin Records. Запись содержит элементы: шугейзинга[4][5], дрим-попа[6], хэви-метала[5] и прогрессивного рока.

      Несмотря на трудности и напряжённую атмосферу в период записи, альбом дебютировал на 10-й строчке в чарте Billboard, в США было продано более четырёх миллионов дисков, и более шести миллионов — по всему миру[7]. Успех пластинки способствовал становлению The Smashing Pumpkins, как одного из важнейших элементов альтернативной рок-сцены США. В поддержку альбома было выпущено четыре сингла: «Cherub Rock», «Today», «Disarm» и «Rocket». Siamese Dream был очень тепло встречен критиками, он считается одним из лучших альбомов 90-х, а многими — одним из лучших за всю историю рок-музыки[8]. В 2003 году журнал Rolling Stone поставил этот диск на 362-е место в своём списке «500 величайших альбомов всех времён»[9].</p>
    </div>
    <div class="img" id="one-img"></div>
  </div>
  <div class="post-photo"></div>
  <div class="name">Yudin Pavel</div>
  <div class="date">01.11.2018 14:33</div>
  <div class="delete"></div>
  <div class="comment">Comment 3</div>
  <div class="comment-photo"></div>
  <a class="btn-send">Send</a>
  <input type="text" name="your-comment" class="input-comment">
  <div class="your-photo"></div>
</div>

<div class="post">
  <div class="content">
    <div class="text">
      <p>Йи́ндржих (Ге́нрих-Игна́тий Игна́тьевич) Йи́ндржишек (25 июля 1857, Поникла, Чехия — 28 августа 1924, Прага) — купец второй гильдии, владелец музыкального магазина и мастерских по ремонту и производству музыкальных инструментов в Киеве, основатель киевской фирмы грамзаписи «Экстрафон». Член Киевской городской думы. Принимал активное участие в общественной и политической жизни чешских иммигрантов в России. Инициатор создания и председатель общества им. Я. А. Коменского, один из организаторов антигабсбургского движения среди российских чехов.</p>
    </div>
    <div class="img" id="two-img"></div>
  </div>
  <div class="post-photo"></div>
  <div class="name">Ilya Shirokov</div>
  <div class="date">08.11.2018 19:45</div>
  <div class="delete"></div>
  <div class="comment">Comment 1</div>
  <div class="comment-photo"></div>
  <a class="btn-send">Send</a>
  <input type="text" name="your-comment" class="input-comment">
  <div class="your-photo"></div>
</div>

<div class="post">
  <div class="content">
    <div class="text">
      <p>Прибрежный цимшианский язык (собственно цимшианский, смалгиах, смалгах, Coast Tsimshian, Chimmezyan, Tsimpshean, Zimshian, Sm'álgyax) — язык индейцев племени Северной Америки. Самоназвание Sm'álgyax буквально означает «настоящий язык». Язык используется на северо-западе провинции Британская Колумбия и на юго-востоке штата Аляска. Изначально язык на был распространен на Аляске, он попал туда благодаря американским миссионерам, и теперь на Аляске образовалась резервация индейцев этого племени.</p>
    </div>
    <div class="img" id="three-img"></div>
  </div>
  <div class="post-photo"></div>
  <div class="name">Natalya Zhestkova</div>
  <div class="date">12.11.2018 22:10</div>
  <div class="delete"></div>
  <div class="comment">Comment 2</div>
  <div class="comment-photo"></div>
  <a class="btn-send">Send</a>
  <input type="text" name="your-comment" class="input-comment">
  <div class="your-photo"></div>
</div>